{{!-- REpresentation of {{this}} --}}

{{#with data}}
<div class="col-md-3 col-sm-6 col-xs-12">
  <div class="card card-inverse card-{{rating_color_class overall}}">
    <div class="card-block">
      <h4 class="card-title">{{weekday_date day}}</h4>
      {{!-- <p class="card-text">
        overall score:
        <progress class="progress progress-{{rating_color_class overall}}" value="{{overall}}" max="100"></progress>
      </p> --}}
      <p class="card-text">
        temperature:
        <progress class="progress progress-{{rating_color_class temp.day_ease

        }}" value="{{temp.day_ease}}" max="100"></progress>
      </p>
      <p class="card-text">
        wind level:
        <progress class="progress progress-{{rating_color_class winds.ease}}" value="{{winds.ease}}" max="100"></progress>
      </p>
      <p class="card-text">
        percipitation:
        <progress class="progress progress-{{rating_color_class percip.ease}}" value="{{percip.ease}}" max="100"></progress>
      </p>
      <p class="card-text">
        cloud cover:
        <progress class="progress progress-{{rating_color_class clouds.ease}}" value="{{clouds.ease}}" max="100"></progress>
      </p>
      {{!-- <p class="card-text"><small class="text-muted">test</small></p> --}}
    </div>
  </div>
</div>
{{/with}}
