<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Good to Fly</h1>
    <p class="lead text-muted">Check if it's good to fly at your normal flying spots</p>
    <p class="text-muted">GTF Scores are calculated based on the potential for rain, cloud coverage, wind speed and overall temperature</p>
    <p>
      <a href="https://github.com/destos/good-to-fly" target="_blank" class="btn btn-primary">Contribute on github</a>
      <a href="https://github.com/destos/good-to-fly#deploy-your-own" class="btn btn-secondary">Deploy your own!</a>
    </p>
  </div>
</section>

{{!-- Loop over looked up locations and output their forcasts --}}

<div class="forcasts">
  <div class="container">
    {{#each ratings}}
    <div class="row">
      <div class="col-md-12">
        {{#with (lookup ../locations @key)}}
        <h2 class="pull-left">{{address}} <small class="text-muted">{{geo.lat}}:{{geo.lng}}</small></h2>
        <div class="pull-right">
          <a href="/{{@key}}/is-it-good.json" class="label label-info">json</a>
        </div>
        {{/with}}
      </div>
    </div>
    {{!-- <div class="row">
      <div class="col-md-12">
        <h3>Today</h3>
      </div>
      {{this.currently}}
    </div> --}}
    <div class="row coming-up">
      <div class="col-md-12">
        {{!-- <h3>Coming up</h3> --}}
      </div>
      {{#each this.daily_results}}
        {{> day data=this}}
      {{/each}}
    </div>
    {{/each}}
  </div>
</div>
